<div class="sgek-header"><h1>Importar</h1></div>

<div class="sgek-conteudo">
  <p><strong>Instruções:</strong></p>
  <ol>
    <li>No campo "Tela de dados de usuário" selecione as colunas que deverão ser consideradas para a busca e confirmação de entrega de kit;</li>
    <li>No campo "Tela de confirmação de atleta" selecione as colunas que deverão ser consideradas para a confirmação de inscrição caso esta esteja configurada;</li>
    <li>No campo "Identificador de inscrição" selecione uma coluna que representa unicamente a inscrição (importante para o registro da entrega);</li>
    <li>Clique no botão "Importar" para concluir o processo.</li>
  </ol>

  <form class="form-horizontal sgek-form">
    <dl class="dl-horizontal well">
      <dt>Evento:</dt>
      <dd>{{importacao.evento.titulo}}</dd>
      <dt>Arquivo:</dt>
      <dd>{{importacao.nomeDoArquivo}}</dd>
      <dt>Qtd. de registros:</dt>
      <dd>{{importacao.quantidadeDeRegistros}}</dd>
    </dl>

    <table class="table table-hover sgek-table">
      <thead>
        <tr>
          <th>Coluna(s)</th>
          <th>Tela de dados de usuário</th>
          {{#if importacao.evento.confirmacao}}
          <th>Tela de confirmação de atleta</th>
          {{/if}}
          <th>Identificador de inscrição</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <div class="panel panel-default">
      <div class="panel-body sgek-botao-base">
        <button id="importarBtn" type="submit" class="btn btn-primary" {{{helper-disable-button importacao.quantidadeDeRegistros}}}><span class="glyphicon glyphicon-floppy-open"></span> Importar</button>
        <button id="voltarBtn" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Voltar</button>
      </div>
    </div>

  </form>
</div>
