<p class="alert alert-info" role="alert">Para recuperar a senha, insira seu email no campo abaixo e clique em recuperar:</p>
<form>
  <div class="form-group">
    <label for="emailInput" class="control-label">Email</label>
    <input type="email" class="form-control" id="emailInput">
    <span class="help-block"></span>
  </div>
  <button type="submit" class="btn btn-primary sgek-btn-block" id="submitBtn"><span class="glyphicon glyphicon-share-alt"></span> Recuperar</button>
  <a href="#/identificacao" title="Voltar" class="sgek-link-voltar">Voltar</a>
</form>
