<div class="sgek-header{{#if evento.logomarca}} sgek-evento-selecionado{{/if}}">
  {{#if evento.logomarca}}
  <img src="{{contexto}}/eventos/imagens/{{evento.logomarca}}" alt="{{evento.titulo}}" class="sgek-logomarca-evento">
  <div class="sgek-separador"></div>
  {{/if}}
  <h1>{{evento.titulo}}</h1>
</div>

<div class="sgek-conteudo sgek-evento-selecionado">
  <form></form>
</div>
