<div class="sgek-header{{#if evento.logomarca}} sgek-evento-selecionado{{/if}}">
  {{#if evento.logomarca}}
  <img src="{{contexto}}/eventos/imagens/{{evento.logomarca}}" alt="{{evento.titulo}}" class="sgek-logomarca-evento">
  <div class="sgek-separador"></div>
  {{/if}}
  <h1>{{evento.titulo}}</h1>
</div>

<div class="sgek-conteudo sgek-evento-selecionado">
  <form method="post">
    <table class="table table-hover sgek-table">
      <thead>
        <tr class="sgek-fileira-formulario-pesquisa">
          <th><input type="text" name="inscricao" class="form-control" placeholder="Pesquisar inscrição"></th>
          <th><input type="text" name="nome" class="form-control" placeholder="Pesquisar nome"></th>
          <th><input type="text" name="cpf" class="form-control" placeholder="Pesquisar cpf"></th>
          <th><input type="text" name="dataNascimento" class="form-control" placeholder="Pesquisar data de nascimento"></th>
          <th><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Pesquisar</button></th>
        </tr>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Data de Nascimento</th>
          <th>Entrega de Kit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>123</td>
          <td>Rafael Marini de Souza</td>
          <td>332.587.288-36</td>
          <td>08/06/1984</td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Disponível <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="javascript: void(0);">Entregar</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="javascript: void(0);">Entregar para terceiro</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td>123</td>
          <td>Rafael Marini de Souza</td>
          <td>332.587.288-36</td>
          <td>08/06/1984</td>
          <td>
            <button type="button" class="btn btn-success sgek-botao-entregue"><span class="glyphicon glyphicon-ok"></span> Entregue</button>
          </td>
        </tr>
        <tr>
          <td>123</td>
          <td>Rafael Marini de Souza</td>
          <td>332.587.288-36</td>
          <td>08/06/1984</td>
          <td>
            <button type="button" class="btn btn-success sgek-botao-entregue"><span class="glyphicon glyphicon-ok"></span> Entregue</button>
          </td>
        </tr>
        <tr>
          <td>123</td>
          <td>Rafael Marini de Souza</td>
          <td>332.587.288-36</td>
          <td>08/06/1984</td>
          <td>
            <button type="button" class="btn btn-success sgek-botao-entregue"><span class="glyphicon glyphicon-ok"></span> Entregue</button>
          </td>
        </tr>
        <tr>
          <td>123</td>
          <td>Rafael Marini de Souza</td>
          <td>332.587.288-36</td>
          <td>08/06/1984</td>
          <td>
            <button type="button" class="btn btn-success sgek-botao-entregue"><span class="glyphicon glyphicon-ok"></span> Entregue</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
