<div class="form-group">
  <label for="ocorrenciaInput" class="control-label">Descrição da ocorrência</label> <i>(opcional)</i>
  <input type="text" class="form-control" id="ocorrenciaInput" max="450">
  <span class="help-block"></span>
</div>