<div class="form-group">
  <label for="nomeInput" class="control-label">Nome</label>
  <input type="text" class="form-control" id="nomeInput" value="{{terceiro.nome}}">
  <span class="help-block"></span>
</div>
<div class="form-group">
  <label for="documentoInput" class="control-label">Documento</label>
  <input type="text" class="form-control" id="documentoInput" value="{{terceiro.documento}}">
  <span class="help-block"></span>
</div>
<div class="form-group">
  <label for="telefoneInput" class="control-label">Telefone</label>
  <input type="text" class="form-control" id="telefoneInput" value="{{terceiro.telefone}}">
  <span class="help-block"></span>
</div>
<div class="form-group">
  <label for="enderecoInput" class="control-label">Observação</label> <i>(opcional)</i>
  <input type="text" class="form-control" id="enderecoInput" value="{{terceiro.endereco}}">
</div>